$color-product-primary: #ed5252;
$color-product-primary-hover: #f06c6c;
$color-product-primary-active: #d54a4a;
$color-product-error-primary: #f03226;
$color-product-error-active: #ca2013;
$color-product-info-primary: #649be9;

$color-neutral-primary-text: #4d5163;
$color-neutral-primary-dark: #303446;
$color-neutral-secondary-text: #6a6e7e;
$color-neutral-white: #ffffff;
$color-neutral-disable: #c5c7d0;
$color-neutral-border: #bfc3d5;
$color-neutral-placeholder: #a0a6bf;
$color-neutral-deviders: #d9dde6;
